

header {
    background-color: #8a2be2;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #8a2be2;
    margin-bottom: 10px;
}

footer{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
}

p {
    margin: 10px 0;
    color: #555;
}

.all{
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
box-sizing: border-box;
}

button {
background-color: #8a2be2;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.action{
    padding-top: 30px;
}